<h1 class="page-header"> Hey, <%= username %>!</h1>

  <%= render 'partials/table' %>

  <% if current_user.has_lists? %>
  <%= link_to "Check out your most used tags", tags_path, class: "link" %>
  <% end %>



  <div class="index_and_last_list_container">
    <div class="list_index_container">
      <%= render 'lists_ul' %>
    </div>

    <div class="last_list_container">
      <h2>  </h2>
      <button id="showLastListItems" class="show-list-btn">See Your Last List</button>
      <ul class="last_list_items_ul"></ul>
    </div>
  </div>

<% if !current_user.has_list_today? %>

  Let's get started! We'll automatically sort your lists by day so <%= render 'today_list_link' %> when you vist each day and add Acomplistments throughout the day.

<% end %>
