<h1 class="page-header"><%= formatted_date(@list.date) %></h1>

<%= render 'list' %>

<%= form_for(@list_item) do |f| %>
  <%= f.hidden_field :list_id, :value => params[:id] %>
  <%= f.label "Accomplishment:" %>
  <%= f.text_area :title %>
  <%= f.label "Points:" %>
  <%= f.text_field :points %>
  <%= f.submit "Add to List" %>
<% end %>
