<p><%= link_to lists_path do %>
  <i class="fas fa-long-arrow-alt-left"></i> Back
  <% end %></p>

<h1 class="page-header"><%= formatted_date(@list.date) %></h1>

<%= render partial: 'lists/list_table', locals: {list: @list} %>

<%= render partial: 'partials/errors', locals: {inst: @item} %>
<%= render 'items/form' %>
