<% if !current_user %>
  <h2 class="page-header" >Welcome to AccompList!</h2>
  <p>AccompList is for anyone looking to give themselves credit for what they're getting done each day to help them feel a little more accomplished.</p>
  
  <br>

  <p><%= link_to "Sign Up", new_user_registration_path, :class => "link" %> or <%= link_to "Log In", new_user_session_path, :class => "link" %></li> to get started. </p>


<% else %>
  <h2 class="page-header" >Hey there! What are you up to today?</h2>
  <h2>Your Lists</h2>

  <%= render 'partials/table' %>
  <br>

  <p>Your AccompList Graph starts on the first day of the year and will get filled in as you add accomplishments to each day. The more you get done, the darker that day's block will get. Don't worry about whether it feels "big" or "important" enough to put on your board. If it's important to you, take some credit for it!</p>

  <br>

  <p>
    <% text = current_user.has_list_today? ? "Go to today's list" : "Start a new list for today"%>

    <%= link_to text, list_path(current_user.todays_list), :class => "link" %> or check out all you <%= link_to "existing lists", lists_path, :class => "link" %>
  </p>

<% end %>
