<!-- can't use default path because 'items' resource is embedded in 'lists' -->
<!-- array shorthand for "@item, :url => list_items_path(@list)" -->

<div class="add-item-form">
  <%= form_for([@list, @item]) do |f| %>
    <%= render partial: 'partials/errors', locals: {inst: @item} %>

    <%= f.label "Accomplishment/Title:" %> <br>
    <%= f.text_area :title %> <br>
    <%= f.label "Points (1-3):" %> <br>
    <%= f.text_field :points %> <br>
    <div>
      <%= f.label "Tags:" %> <br><br>
      <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
    </div>
    <%= f.submit "Add to List" %>
  <% end %>
</div>
