<h3 class="item-form-header">Add a New Accomplishment for <%= formatted_date(@list.date) %>:</h3>
<p class="item_form_errors"></p>
<!-- array shorthand for "@item, :url => list_items_path(@list)" -->
<div class="add-item-form">

  <%= render partial: 'partials/errors', locals: {item: @item} %>

  <%= form_for([@list, @item]) do |f| %>
    <%= f.label "Accomplishment/Title:" %>
    <%= f.text_area :title %> <br>
    <div>
      <%= f.label "Points:" %>
      <%= f.label :points_one, '1' %>
      <%= f.radio_button :points, '1', :checked => true %>
      <%= f.label :points_two, '2' %>
      <%= f.radio_button :points, '2' %>
      <%= f.label :points_three, '3' %>
      <%= f.radio_button :points, '3' %><br>
    </div>
    <br>
    <div>
      <%= f.label "Your Tags:" %> <br>
      <%= f.collection_check_boxes :tag_ids, Tag.users_tags(current_user.id), :id, :name, :include_hidden => false %> <br>
      <%= f.fields_for :tags, @item.tags.build do |tags_fields| %>
        <%= tags_fields.text_field :name, placeholder: "Create New Tag", class: "new-tag-field" %>
      <% end %>
    </div>
    <%= f.submit "Add to List" %>
  <% end %>
</div>
