<!-- can't use default path because 'items' resource is embedded in 'lists' -->
<!-- array shorthand for "@item, :url => list_items_path(@list)" -->
<div class="add-item-form">
  <h3>Add a New Accomplist:</h3>

  <%= form_for([@list, @item]) do |f| %>
    <%= render partial: 'partials/errors', locals: {inst: @item} %>

    <%= f.label "Accomplishment/Title:" %> <br>
    <%= f.text_area :title %> <br>
    <!-- <%= f.label "Points (1-3):" %> <br>
    <%= f.text_field :points %> <br> -->
    <div>
      <%= f.label "Points:" %> <br><br>
      <%= f.label :points_one, '1' %>
      <%= f.radio_button :points, '1', :checked => true %>
      <%= f.label :points_two, '2' %>
      <%= f.radio_button :points, '2' %>
      <%= f.label :points_three, '3' %>
      <%= f.radio_button :points, '3' %><br>
    </div>
    <br>
    <div>
      <%= f.label "Tags:" %> <br><br>
      <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name, :include_hidden => false %> <br>
      <%= f.fields_for :tags, @item.tags.build do |tags_fields| %>
        <%= tags_fields.text_field :name, placeholder: "Create New Tag", class: "new-tag-field" %>
      <% end %>
    </div>
    <%= f.submit "Add to List" %>
  <% end %>
</div>
